.user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.profile-stting {
  margin-bottom: 20px;
}
.profile-stting h4 {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.user-profile .profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-profile .profile-text h4 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.user-profile .profile-text p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.profile-set-all {
  margin-top: 36px;
}

.name-changer,
.image-editor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.name-changer h4,
.image-editor h4 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.flex-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
