:root {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

.mygroups {
  width: 100%;
  height: 469px;
  background-color: #fff;
  margin-top: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px 15px;
  overflow-y: auto;
  box-sizing: border-box;
}

.mygroups::-webkit-scrollbar {
  width: 11px;
}
.mygroups {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.mygroups::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.mygroups::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.mygroups_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creategroups {
  text-transform: capitalize !important;
}

.mygroups_header h4 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.mygroups-item-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
}

.mygroups-item-wrapper:last-child {
  border-bottom: none;
}

.mygroups-images {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: red;
  margin-top: 15px;
}

.friends-name h4 {
  font-family: "poppins", sans-serif;
  margin-top: 22px;
  font-weight: 500;
}

.friends-name h5 {
  font-family: "poppins", sans-serif;
  margin-top: 1px;
}

.hello .friends-name h6 {
  font-family: "poppins", sans-serif;
  margin-top: -1px;
}

.mygroups-name {
  width: 60%;
  padding-left: 10px;
}

.mygroups-name h5 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  margin-top: 20px;
}
.mygroups-name h6 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #9f9696;
  margin-top: 10px;
}

.mygroups-list-btn {
  width: 25%;
  margin-top: 34px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.mygroups-list-btn button {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #5f35f5;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.diologeGroupe {
  width: 350px;
  padding: 20px 25px;
}

.friends-name {
  width: 60%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.diologeGroupe .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.friends-images {
  overflow: hidden;
}
.friends-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-list-btn button:nth-child(1) {
  background-color: #f1a847;
}

.group-list-btn button:nth-child(2) {
  background-color: #643dff;
}

.nogroup {
  padding: 20px 20px;
  text-align: center;
  font-family: arial;
  font-weight: 600;
  background: #3ba293;
  color: #fff;
}
