:root {
  --primary-color: #5f35f5;
  --primary-font: "Poppins", sans-serif;
  --secondary-color: #03014c;
  --secondary-font: "Nunito", sans-serif;
  --rear-font: "Open Sans", sans-serif;
  --title-color: #11175d;
  --read-orange: #ea6c00;
  --black: #000;
  --white: #fff;
  --secondary-white: #f1f1f1;
  --error: #f55050;
  --green: #00ff75;
  --border-color: rgba(3, 1, 76, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.accounts p {
  width: 70% !important;
  text-align: center !important;
  margin-top: 20px !important;
  font-family: "Open sans", sans-serif !important;
  font-weight: 700;
  font-size: 13.34px;
  color: "#03014C" !important;
}

body {
  background-color: #f9f9f9;
}

.empty {
  margin-top: 20px;
  background-color: red;
  color: #fff;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.group-item-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
  align-items: center;
}

/* .accounts p a {
  color: "#EA6C00" !important;
  text-decoration: none !important;
} */
